body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4e3629; /* Цвет заголовка - темный коричневый */
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center; /* Выравнивание элементов по вертикали по центру */
}

nav {
    flex-grow: 1; /* Растягивает nav на всю доступную ширину */
    display: flex;
    justify-content: space-around;
    background-color: #3d2921;
    padding: 10px;
    border-radius: 30px;
}

nav a {
    color: #8c5b24;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #d9b59c; /* Изменение цвета при наведении для эффекта интерактивности */
}

main {
    display: flex;
    flex-direction: column; /* Все элементы в столбец */
    align-items: center;
    padding: 20px;
    background-color: #4e3629;
}

.content {
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background-color: #3d2921;
    color: #8c5b24;
    padding: 20px;
}

footer h3{
    color: #cb7f1b;
}

/* Стили для каждой колонки футера */
.footer-column {
    padding: 20px;
}

/* Заголовок колонки */
.footer-column h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Стили для ссылок в колонках */
.footer-column a {
    color: #8c5b24;
    text-decoration: none;
    transition: color 0.3s;
}

.social-buttons {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.social-button {
    position: relative;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    text-decoration: none;
    background: rgb(63, 32, 6);
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    z-index: 100;
}

.social-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 20%;
    z-index: -1; /* Изменено на -1 */
    transition: height 1s, opacity 0.3s;
}

.social-button:hover::before {
    height: 100%;
    opacity: 1;
    content: '';
}

.social-button span {
    position: relative;
    z-index: 1; /* Добавлено для текста */
}

.vk::before {
    background: linear-gradient(45deg, #000000, #3d0600, #a80000);
}

.telegram::before {
    background: linear-gradient(45deg, #f6c50e, #c7852b, #87512f);
}

.instagram::before {
    background: linear-gradient(45deg, #f86e12, #fe7920, #6e726e);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #cb7f1b;
}

.catalog-button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #3f2006;
    color: #8c5b24;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 20px;
}

.catalog-button:hover {
    background-color: #64403e;
}

.circle-cards-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Добавлен отступ сверху между блоками */
}

.circle-card {
    width: 155px;
    height: 155px;
    background-color: #442c20;
    border-radius: 50%; /* Делаем карточку круглой */
    margin: 100px; /* Добавляем отступ между карточками */
    box-shadow: 0 0 20px rgb(122, 78, 72);
    color: #8c5b24;
}

.circle-card h1{
    color: #cb7f1b;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.circle-card {
    transition: transform 0.3s ease-in-out;
}

.circle-card:hover {
    animation: pulse 1s infinite; /* Запускаем анимацию при наведении */
    transform: scale(1.1);
}

/* Дополнительные стили для плавного перехода при убирании курсора */
.circle-card:not(:hover) {
    transition: transform 0.3s ease-in-out;
}
