body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4e3629; /* Цвет заголовка - темный коричневый */
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center; /* Выравнивание элементов по вертикали по центру */
}

nav {
    flex-grow: 1; /* Растягивает nav на всю доступную ширину */
    display: flex;
    justify-content: space-around;
    background-color: #3d2921;
    padding: 10px;
    border-radius: 30px;
}

nav a {
    color: #f5cb9c;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #d9b59c; /* Изменение цвета при наведении для эффекта интерактивности */
}

main {
    display: flex;
    flex-direction: column; /* Все элементы в столбец */
    align-items: center;
    padding: 20px;
    background-color: #4e3629;
}

.content {
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background-color: #3d2921;
    color: #8c5b24;
    padding: 20px;
}

footer h3{
    color: #cb7f1b;
}

/* Стили для каждой колонки футера */
.footer-column {
    padding: 20px;
}

p{
    color: #F5CB9CFF;
}

footer ul{
    list-style: none;
    padding-left: 0;
}

/* Заголовок колонки */
.footer-column h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Стили для ссылок в колонках */
.footer-column a {
    color: #f5cb9c;
    text-decoration: none;
    transition: color 0.3s;
}

.social-buttons {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.social-button {
    position: relative;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    text-decoration: none;
    background: rgb(63, 32, 6);
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    z-index: 100;
}

.social-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 20%;
    z-index: -1; /* Изменено на -1 */
    transition: height 1s, opacity 0.3s;
}

.social-button:hover::before {
    height: 100%;
    opacity: 1;
    content: '';
}

.social-button span {
    position: relative;
    z-index: 1; /* Добавлено для текста */
}

.vk::before {
    background: linear-gradient(45deg, #000000, #3d0600, #a80000);
}

.telegram::before {
    background: linear-gradient(45deg, #f6c50e, #c7852b, #87512f);
}

.instagram::before {
    background: linear-gradient(45deg, #f86e12, #fe7920, #6e726e);
}

.new1{
    display: flex;
    flex-direction: row;
}

.text1{
    display: flex;
    flex-direction: column;
}

img{
    width: 50%;
    height: 50%;
}

.new2{
    display: flex;
    flex-direction: row;
}

.text2{
    display: flex;
    flex-direction: column;
}

.new3{
    display: flex;
    flex-direction: row;
}

.text3{
    display: flex;
    flex-direction: column;
}

h1, h2, h4, h5, h6, h8 {
    font-size: 25px;
    text-align: center;
    color: #CB7F1BFF;
}

.new1, .new2, .new3{
    font-size: 20px;
    text-align: justify;
    text-indent: 1.25em;
}