body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4e3629; /* Цвет заголовка - темный коричневый */
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center; /* Выравнивание элементов по вертикали по центру */
}

nav {
    flex-grow: 1; /* Растягивает nav на всю доступную ширину */
    display: flex;
    justify-content: space-around;
    background-color: #3d2921;
    padding: 10px;
    border-radius: 30px;
}

nav a {
    color: #8c5b24;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #d9b59c; /* Изменение цвета при наведении для эффекта интерактивности */
}

main {
    display: flex;
    flex-direction: column; /* Все элементы в столбец */
    align-items: center;
    padding: 20px;
    background-color: #4e3629;
}

.content {
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background-color: #3d2921;
    color: #8c5b24;
    padding: 20px;
}

footer h3{
    color: #cb7f1b;
}

/* Стили для каждой колонки футера */
.footer-column {
    padding: 20px;
}

p{
    color: #F5CB9CFF;
}

footer ul{
    list-style: none;
    padding-left: 0;
}

/* Заголовок колонки */
.footer-column h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Стили для ссылок в колонках */
.footer-column a {
    color: #f5cb9c;
    text-decoration: none;
    transition: color 0.3s;
}

.social-buttons {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.social-button {
    position: relative;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    text-decoration: none;
    background: rgb(63, 32, 6);
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    z-index: 100;
}

.social-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 20%;
    z-index: -1; /* Изменено на -1 */
    transition: height 1s, opacity 0.3s;
}

.social-button:hover::before {
    height: 100%;
    opacity: 1;
    content: '';
}

.social-button span {
    position: relative;
    z-index: 1; /* Добавлено для текста */
}

.vk::before {
    background: linear-gradient(45deg, #000000, #3d0600, #a80000);
}

.telegram::before {
    background: linear-gradient(45deg, #f6c50e, #c7852b, #87512f);
}

.instagram::before {
    background: linear-gradient(45deg, #f86e12, #fe7920, #6e726e);
}

.hidden{
    display: none;
}

.copyright {
    font-size: 16px;
    text-align: center;
    margin: 0;
    background-color: #3d2921;
    padding: 20px 30%;
}

.new1{
    display: flex;
    flex-direction: row;
}

.text1{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.new2{
    display: flex;
    flex-direction: row;
}

.text2{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.new3{
    display: flex;
    flex-direction: row;
}

.text3{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

h1, h2, h4, h5, h6, h8 {
    font-size: 25px;
    text-align: center;
    color: #CB7F1BFF;
    text-indent: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

.new1, .new2, .new3{
    font-size: 20px;
    text-align: justify;
    text-indent: 1.25em;
    margin: 0;
}

.new1, .new2, .new3, p{
    margin-top: 0;
    margin-bottom: 12px;
}

.pik1 img{
    width: 100%;
    max-width: 700px; /* Установите максимальную ширину по вашему усмотрению */
    height: auto;
    display: block;
    margin-bottom: 12px;
}
.pik2 img{
    width: 100%;
    max-width: 900px; /* Установите максимальную ширину по вашему усмотрению */
    height: auto;
    display: block;
    margin-bottom: 12px;
}

.pik3 img {
    height: 100%;
    max-height: 250px;
    width: 375px;
    display: block;
    margin-bottom: 12px;
}

.burger-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #8c5b24;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: transform 0.3s ease-in-out; /* Добавлено для анимации */
}

.main-nav {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    .burger-menu {
        display: block;
    }

    .main-nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        max-height: 50vh; /* Ограничиваем высоту до половины экрана */
        overflow-y: auto; /* Добавлено для прокрутки, если высота превышает max-height */
        background-color: #3d2921;
        border-radius: 10px;
        z-index: 1;
        transition: max-height 0.5s ease-in-out; /* Добавлено для анимации */
    }

    .main-nav a {
        padding: 10px;
        text-align: center;
    }

    .main-nav a:hover {
        background-color: #64403e;
    }

    .main-nav.show {
        display: flex;
        max-height: 50vh; /* Высота, когда меню отображается */
    }

    .burger-menu.active {
        transform: rotate(90deg); /* Поворот кнопки при активации */
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }

    .footer-column {
        text-align: center;
    }

}

@media screen and (max-width: 768px) {
    .social-buttons {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        grid-template-columns: 1fr;
        padding: 0;
    }

    .footer-column{
        padding: 0;
    }

    .social-buttons {
        flex-direction: row;
    }
}

@media only screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
    }

    nav.main-nav {
        margin-top: 20px;
    }

    .new1, .new2, .new3 {
        flex-direction: column-reverse;
    }

    .text1, .text2, .text3 {
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
    }

    .pik1, .pik2, .pik3 {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pik3 img{
        width: 90%;
    }

    .footer-column {
        margin-bottom: 20px;
    }
}
